<?xml version="1.0"?>
<connectionStrings>
	<add name="ShopBridgeEntities" connectionString="metadata=res://*/ShopBridgeModel.csdl|res://*/ShopBridgeModel.ssdl|res://*/ShopBridgeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Q3JPLAPTOP41;initial catalog=ShopBridge;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
